.m-nav {
  width: 100%; }
  .m-nav .nav-wrap {
    height: 30px;
    line-height: 30px;
    background-color: #2a252b; }
    .m-nav .nav-wrap .phone li {
      color: #cecece;
      font-size: 12px;
      margin-right: 25px;
      float: left; }
      .m-nav .nav-wrap .phone li.dropdown {
        cursor: pointer; }
      .m-nav .nav-wrap .phone li i {
        display: inline-block;
        background: url(../../../../Content/Images/Activity/Activity1/nav-wrap.png) no-repeat;
        margin-right: 5px;
        vertical-align: middle; }
        .m-nav .nav-wrap .phone li i.nav-wrap-icon-1 {
          background-position: -20px 0;
          width: 12px;
          height: 12px; }
        .m-nav .nav-wrap .phone li i.nav-wrap-icon-2 {
          background-position: -8px 0;
          width: 12px;
          height: 13px; }
        .m-nav .nav-wrap .phone li i.nav-wrap-icon-4 {
          background-position: -32px 0;
          width: 20px;
          height: 15px; }
        .m-nav .nav-wrap .phone li i.nav-wrap-icon-3 {
          background-position: 0 0;
          width: 8px;
          height: 5px;
          margin-left: 5px; }
      .m-nav .nav-wrap .phone li .dropdown-content {
        top: 35px;
        left: -25px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        padding: 5px;
        display: none;
        z-index: 3; }
        .m-nav .nav-wrap .phone li .dropdown-content.app-code {
          left: -40px; }
        .m-nav .nav-wrap .phone li .dropdown-content .arrow-up {
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
          top: -5px;
          right: 3px; }
        .m-nav .nav-wrap .phone li .dropdown-content img {
          width: 110px;
          height: 110px; }
    .m-nav .nav-wrap .nav-wrap-menu li {
      float: left;
      font-size: 12px; }
      .m-nav .nav-wrap .nav-wrap-menu li:last-child a {
        border-right: none;
        padding: 0 0 0 8px; }
      .m-nav .nav-wrap .nav-wrap-menu li a {
        color: #cecece;
        padding: 0 8px;
        border-right: 1px solid #cecece; }

.container {
  background-color: #8bc82b;
  min-width: 1100px; }
  .container .header {
    width: 100%;
    height: 450px;
    background: url(../../../../Content/Images/Activity/Activity1/banner.png) center no-repeat; }
  .container .content {
    width: 1100px;
    margin: 0 auto; }
    .container .content .title {
      font-size: 34px;
      padding-top: 25px;
      text-align: center;
      color: #fff; }
    .container .content .title-bg {
      width: 318px;
      height: 81px;
      line-height: 40px;
      letter-spacing: 8px;
      margin: 12px auto 30px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      background: url(../../../../Content/Images/Activity/Activity1/title.png) no-repeat;
      color: #fff; }
    .container .content .ggkbg {
      width: 319px;
      height: 83px;
      background: url(../../../../Content/Images/Activity/Activity1/ggkbg.png) no-repeat;
      margin: 0 auto;
      position: relative; }
      .container .content .ggkbg .prize, .container .content .ggkbg .ggk {
        width: 300px;
        height: 70px;
        line-height: 70px;
        top: 6px;
        left: 10px;
        text-align: center;
        position: absolute;
        background-color: #ffdc91; }
      .container .content .ggkbg .prize {
        font-size: 24px;
        color: #3d3d3d;
        display: none; }
    .container .content .m-tips {
      padding: 10px 0 20px; }
      .container .content .m-tips p {
        font-size: 16px;
        color: #fff;
        text-align: center; }
        .container .content .m-tips p.number {
          font-size: 20px; }
        .container .content .m-tips p span {
          font-size: 22px;
          font-weight: bold;
          color: #ffe801; }
        .container .content .m-tips p a {
          color: #ffe801;
          text-decoration: underline; }
          .container .content .m-tips p a:hover {
            color: #fff26c; }
    .container .content .m-award {
      width: 590px;
      margin: 0 auto;
      padding-bottom: 30px; }
      .container .content .m-award .award {
        width: 457px;
        height: 234px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.16); }
        .container .content .m-award .award .detail {
          width: 428px;
          height: 200px;
          margin: 14px auto;
          border-radius: 20px;
          border: 3px dashed #fff;
          background-color: rgba(255, 255, 255, 0.15); }
          .container .content .m-award .award .detail h3 {
            width: 150px;
            height: 50px;
            line-height: 50px;
            font-size: 30px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffe801;
            text-align: center; }
          .container .content .m-award .award .detail ul {
            height: 132px;
            margin-top: 15px;
            overflow: hidden; }
            .container .content .m-award .award .detail ul li {
              padding-left: 25px;
              margin-bottom: 20px; }
              .container .content .m-award .award .detail ul li span {
                font-size: 16px;
                font-weight: bold;
                color: #fff; }
                .container .content .m-award .award .detail ul li span.num {
                  margin-right: 100px; }
      .container .content .m-award .ranking-list {
        width: 100px;
        height: 204px;
        margin-top: 15px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.13); }
        .container .content .m-award .ranking-list h3 {
          height: 47px;
          line-height: 47px;
          font-size: 24px;
          font-weight: normal;
          border-bottom: 2px solid rgba(255, 255, 255, 0.38);
          text-align: center;
          color: #fff; }
        .container .content .m-award .ranking-list ul {
          height: 154px;
          overflow: hidden; }
          .container .content .m-award .ranking-list ul li {
            height: 37px;
            line-height: 37px;
            font-size: 18px;
            border-bottom: 2px dotted rgba(255, 255, 255, 0.38);
            color: #fff;
            text-align: center; }
            .container .content .m-award .ranking-list ul li:last-child {
              border-bottom: none; }
    .container .content .btns {
      width: 440px;
      margin: 0 auto;
      padding-bottom: 44px; }
      .container .content .btns .btn {
        width: 190px;
        height: 58px;
        line-height: 58px;
        border-radius: 4px;
        font-size: 24px;
        font-weight: bold;
        background-color: #c0c0c0;
        color: #fff;
        text-align: center; }
        .container .content .btns .btn.active {
          background-color: #ffae00; }
          .container .content .btns .btn.active:hover {
            background-color: #ffbc2b; }
  .container .footer {
    width: 1100px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 100px; }
    .container .footer h3 {
      width: 814px;
      margin: 0 auto 10px;
      font-size: 50px;
      font-style: italic;
      color: #f18853; }
    .container .footer .radius {
      top: 40%;
      left: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #8bc82b; }
    .container .footer .regular {
      width: 814px;
      margin: 0 auto;
      padding: 10px 0;
      background-color: #ffec9f; }
      .container .footer .regular ul {
        width: 795px;
        padding: 15px 0;
        margin: 0 auto;
        border: 2px dashed #7b3117; }
        .container .footer .regular ul li {
          font-size: 16px;
          line-height: 26px;
          padding: 0 15px 0 25px;
          color: #7b3117; }
  .container .footer-wrap {
    background-color: #151414;
    height: 60px;
    line-height: 60px; }
    .container .footer-wrap p {
      text-align: center;
      color: #646464; }
      .container .footer-wrap p i {
        background: url(../../../../Content/Images/Activity/Activity1/footer-wrap.png) no-repeat;
        width: 14px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: -5px; }
      .container .footer-wrap p span {
        color: #646464;
        padding-right: 5px;
        border-right: 1px solid #646464; }
        .container .footer-wrap p span.border-none {
          border-right: none; }
  .container .sidebar {
    right: 50px;
    bottom: 20%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.14);
    position: fixed; }
    .container .sidebar ul li {
      border-bottom: 2px solid rgba(255, 255, 255, 0.23);
      position: relative;
      width: 53px;
      height: 49px;
      cursor: pointer; }
      .container .sidebar ul li:last-child {
        border-bottom: none; }
      .container .sidebar ul li .side-btn {
        font-size: 16px;
        padding: 0 5px;
        height: 49px;
        color: #fff;
        text-align: center;
        display: block; }
        .container .sidebar ul li .side-btn:hover {
          color: #0180b3;
          background-color: #fff; }
      .container .sidebar ul li .sidebar-dropdown {
        position: absolute;
        top: 0;
        left: -95px;
        background: rgba(253, 253, 253, 0.13);
        display: none; }
        .container .sidebar ul li .sidebar-dropdown .sidebar-dropdown-content {
          padding: 10px; }
        .container .sidebar ul li .sidebar-dropdown.dropdown-1 {
          left: -164px; }
        .container .sidebar ul li .sidebar-dropdown.dropdown-2 {
          left: -146px; }
          .container .sidebar ul li .sidebar-dropdown.dropdown-2 .sidebar-dropdown-content {
            padding: 5px; }
        .container .sidebar ul li .sidebar-dropdown .triangle {
          position: absolute;
          right: -10px;
          top: 15px;
          width: 0;
          height: 0;
          border-bottom: 5px solid transparent;
          border-top: 5px solid transparent;
          border-left: 10px solid rgba(253, 253, 253, 0.13); }
        .container .sidebar ul li .sidebar-dropdown a {
          background: url(../../../../Content/Images/Activity/Activity1/share.png) no-repeat;
          display: inline-block;
          margin-left: 5px; }
          .container .sidebar ul li .sidebar-dropdown a.qqZone {
            width: 35px;
            height: 34px;
            background-position: -66px 0; }
          .container .sidebar ul li .sidebar-dropdown a.wechat {
            width: 32px;
            height: 32px;
            background-position: 0 0; }
          .container .sidebar ul li .sidebar-dropdown a.sina {
            width: 34px;
            height: 30px;
            background-position: -32px 0; }
        .container .sidebar ul li .sidebar-dropdown .none {
          font-size: 16px;
          color: #fff; }
        .container .sidebar ul li .sidebar-dropdown .table {
          width: 132px;
          border: 1px solid rgba(193, 255, 253, 0.35); }
          .container .sidebar ul li .sidebar-dropdown .table tr {
            height: 30px;
            line-height: 30px;
            border: 1px solid rgba(193, 255, 253, 0.35); }
          .container .sidebar ul li .sidebar-dropdown .table th, .container .sidebar ul li .sidebar-dropdown .table td {
            color: #fff;
            text-align: center;
            border-right: 1px solid rgba(193, 255, 253, 0.35); }
            .container .sidebar ul li .sidebar-dropdown .table th:last-child, .container .sidebar ul li .sidebar-dropdown .table td:last-child {
              border-right: none; }
          .container .sidebar ul li .sidebar-dropdown .table td {
            font-size: 14px; }

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  display: none; }
  .overlay.active {
    display: block; }

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  z-index: 2;
  display: none; }
  .modal.active {
    display: block; }
  .modal .close {
    top: -104px;
    right: -30px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #00aaee;
    color: #fff;
    text-align: center; }
    .modal .close:hover {
      background-color: #1bbafa; }
  .modal .tips {
    width: 511px;
    height: 221px;
    top: -90px;
    left: -5px;
    background: url(../../../../Content/Images/Activity/Activity1/wishesBg.png) no-repeat; }
  .modal .btns {
    bottom: 40px; }
    .modal .btns .btn {
      width: 112px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      border-radius: 4px;
      background-color: #00aaee;
      color: #fff;
      text-align: center;
      display: inline-block; }
      .modal .btns .btn:hover {
        background-color: #18bdff; }
  .modal.m-login, .modal.m-prize {
    width: 500px;
    height: 250px;
    background: url(../../../../Content/Images/Activity/Activity1/pop-bg.png) no-repeat; }
  .modal.m-login .tips .wishes {
    width: 299px;
    height: 65px;
    margin: 82px auto 0;
    background: url(../../../../Content/Images/Activity/Activity1/login.png) no-repeat; }
  .modal.m-login .btn-1 {
    margin-left: 118px;
    margin-right: 36px; }
  .modal.m-prize .tips .wishes {
    width: 251px;
    height: 36px;
    margin: 65px auto 0;
    background: url(../../../../Content/Images/Activity/Activity1/win.png) no-repeat; }
  .modal.m-prize .prize {
    width: 260px;
    height: 163px;
    top: 26px;
    right: 0;
    left: 0;
    margin: 0 auto; }
    .modal.m-prize .prize img {
      display: block;
      margin: 0 auto; }
      .modal.m-prize .prize img.prize-1 {
        margin-top: 18px; }
      .modal.m-prize .prize img.prize-2 {
        margin-top: 30px; }
  .modal.m-prize .btns {
    bottom: 20px;
    margin-left: 195px; }
    .modal.m-prize .btns .add-address {
      margin-top: 20px;
      margin-left: 10px;
      font-size: 14px;
      color: #00aaee;
      text-decoration: underline;
      float: right; }
      .modal.m-prize .btns .add-address:hover {
        color: #1bbafa; }
  .modal.m-unwin .tips .wishes {
    width: 337px;
    height: 38px;
    margin: 100px auto 0;
    background: url(../../../../Content/Images/Activity/Activity1/wishes-1.png) no-repeat; }
  .modal.m-start, .modal.m-end {
    width: 369px;
    height: 369px; }
    .modal.m-start .close, .modal.m-end .close {
      top: -10px;
      right: 10px; }
  .modal.m-start {
    background: url(../../../../Content/Images/Activity/Activity1/start.png) no-repeat; }
  .modal.m-end {
    background: url(../../../../Content/Images/Activity/Activity1/end.png) no-repeat; }
  .modal.m-share {
    width: 402px;
    height: 180px;
    background-color: #fff; }
    .modal.m-share .textarea {
      width: 92%;
      height: 100px;
      margin: 5px auto;
      color: #c1c1c1;
      border: none;
      display: block; }
    .modal.m-share .line {
      position: absolute;
      bottom: 66px;
      width: 402px;
      height: 2px;
      background: url(../../../../Content/Images/Activity/Activity1/line.png) no-repeat; }
    .modal.m-share .share {
      margin-left: 15px; }
      .modal.m-share .share span {
        margin-right: 10px;
        margin-top: 26px;
        color: #808080;
        float: left; }
      .modal.m-share .share a {
        background: url(../../../../Content/Images/Activity/Activity1/share.png) no-repeat;
        display: inline-block;
        margin-right: 10px;
        margin-top: 18px; }
        .modal.m-share .share a.qqZone {
          width: 35px;
          height: 34px;
          background-position: -66px 0; }
        .modal.m-share .share a.wechat {
          width: 32px;
          height: 32px;
          background-position: 0 0; }
        .modal.m-share .share a.sina {
          width: 34px;
          height: 30px;
          background-position: -32px 0; }
  .modal.m-address {
    width: 500px;
    height: 450px;
    border-radius: 14px;
    background-color: #fff; }
    .modal.m-address .bg {
      width: 500px;
      height: 450px;
      background: url(../../../../Content/Images/Activity/Activity1/address.png) no-repeat; }
    .modal.m-address .form {
      padding-top: 36px; }
      .modal.m-address .form fieldset {
        padding-left: 28px;
        margin-bottom: 10px; }
        .modal.m-address .form fieldset label {
          width: 80px;
          line-height: 36px;
          margin-right: 12px;
          text-align: right;
          float: left;
          display: inline-block; }
        .modal.m-address .form fieldset .ipt {
          width: 233px;
          height: 36px;
          border: 1px solid #8C8C8C;
          display: inline-block; }
          .modal.m-address .form fieldset .ipt input, .modal.m-address .form fieldset .ipt select {
            width: 233px;
            height: 36px;
            line-height: 36px;
            text-indent: 10px;
            font-size: 14px;
            border: none;
            background: none; }
            .modal.m-address .form fieldset .ipt input.phone, .modal.m-address .form fieldset .ipt select.phone {
              width: 192px; }
          .modal.m-address .form fieldset .ipt span {
            width: 40px;
            height: 36px;
            line-height: 36px;
            text-indent: 5px;
            font-size: 14px;
            color: #797979;
            border-right: 1px solid #8c8c8c;
            display: inline-block;
            float: left; }
        .modal.m-address .form fieldset textarea {
          width: 340px;
          height: 71px;
          text-indent: 10px;
          border: 1px solid #8c8c8c;
          background: no-repeat;
          resize: none; }
    .modal.m-address .btns {
      margin-top: 20px; }
      .modal.m-address .btns .btn-1 {
        margin: 0 30px 0 120px; }

/*# sourceMappingURL=index.css.map */
